In [28]:
import kagglehub

path = kagglehub.dataset_download("mosapabdelghany/medical-insurance-cost-dataset")

print("Path to dataset files:", path)

Path to dataset files: /Users/eugenebohdan/.cache/kagglehub/datasets/mosapabdelghany/medical-insurance-cost-dataset/versions/1

In [29]:
import pandas as pd

df = pd.read_csv("insurance.csv")

In [30]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [32]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [33]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [34]:
num_columns = ["age", "bmi", "charges"]
val_columns = ["sex", "children", "smoker", "region"]

In [35]:
for col in val_columns:
    print(df[col].value_counts())
    print("-" * 50)

sex
male      676
female    662
Name: count, dtype: int64
--------------------------------------------------
children
0    574
1    324
2    240
3    157
4     25
5     18
Name: count, dtype: int64
--------------------------------------------------
smoker
no     1064
yes     274
Name: count, dtype: int64
--------------------------------------------------
region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64
--------------------------------------------------

In [36]:
mask = ((df[num_columns] - df[num_columns].mean()).abs() <= 3 * df[num_columns].std()).all(axis=1)
df = df[mask]

In [37]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 1327 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1327 non-null   int64
 1   sex       1327 non-null   object
 2   bmi       1327 non-null   float64
 3   children  1327 non-null   int64
 4   smoker    1327 non-null   object
 5   region    1327 non-null   object
 6   charges   1327 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 82.9+ KB

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [38]:
df = pd.get_dummies(df, columns=val_columns, drop_first=True)

In [39]:
df

,age,bmi,charges,sex_male,children_1,children_2,children_3,children_4,children_5,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,16884.92400,False,False,False,False,False,False,True,False,False,True
1,18,33.770,1725.55230,True,True,False,False,False,False,False,False,True,False
2,28,33.000,4449.46200,True,False,False,True,False,False,False,False,True,False
3,33,22.705,21984.47061,True,False,False,False,False,False,False,True,False,False
4,32,28.880,3866.85520,True,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,10600.54830,True,False,False,True,False,False,False,True,False,False
1334,18,31.920,2205.98080,False,False,False,False,False,False,False,False,False,False
1335,18,36.850,1629.83350,False,False,False,False,False,False,False,False,True,False
1336,21,25.800,2007.94500,False,False,False,False,False,False,False,False,False,True
1337,61,29.070,29141.36030,False,False,False,False,False,False,True,True,False,False

In [40]:
df.corr()

,age,bmi,charges,sex_male,children_1,children_2,children_3,children_4,children_5,smoker_yes,region_northwest,region_southeast,region_southwest
age,1.000000,0.117993,0.307088,-0.020610,0.016439,0.007810,0.059478,-0.002098,-0.030085,-0.027158,-0.001456,-0.010169,0.008677
bmi,0.117993,1.000000,0.189087,0.039539,-0.011237,0.031964,0.005438,0.018985,-0.018912,-0.007974,-0.133263,0.259238,0.000101
charges,0.307088,0.189087,1.000000,0.057332,-0.030456,0.082215,0.063720,0.009728,-0.042649,0.784889,-0.043408,0.074570,-0.045151
sex_male,-0.020610,0.039539,0.057332,1.000000,0.006747,0.000729,0.002204,0.015689,0.012234,0.075665,-0.009115,0.012856,-0.005603
children_1,0.016439,-0.011237,-0.030456,0.006747,1.000000,-0.264881,-0.205752,-0.078113,-0.066104,-0.027038,-0.015968,0.026473,-0.003653
children_2,0.007810,0.031964,0.082215,0.000729,-0.264881,1.000000,-0.171504,-0.065111,-0.055101,0.033703,0.034594,0.005525,-0.006467
children_3,0.059478,0.005438,0.063720,0.002204,-0.205752,-0.171504,1.000000,-0.050576,-0.042801,0.039329,0.038321,-0.037353,-0.005296
children_4,-0.002098,0.018985,0.009728,0.015689,-0.078113,-0.065111,-0.050576,1.000000,-0.016249,-0.027847,-0.001100,-0.021786,0.011816
children_5,-0.030085,-0.018912,-0.042649,0.012234,-0.066104,-0.055101,-0.042801,-0.016249,1.000000,-0.042442,-0.051331,0.016790,0.054935
smoker_yes,-0.027158,-0.007974,0.784889,0.075665,-0.027038,0.033703,0.039329,-0.027847,-0.042442,1.000000,-0.038363,0.068866,-0.038363
region_northwest,-0.001456,-0.133263,-0.043408,-0.009115,-0.015968,0.034594,0.038321,-0.001100,-0.051331,-0.038363,1.000000,-0.344758,-0.321713
region_southeast,-0.010169,0.259238,0.074570,0.012856,0.026473,0.005525,-0.037353,-0.021786,0.016790,0.068866,-0.344758,1.000000,-0.344758
region_southwest,0.008677,0.000101,-0.045151,-0.005603,-0.003653,-0.006467,-0.005296,0.011816,0.054935,-0.038363,-0.321713,-0.344758,1.000000

In [41]:

from sklearn.base import RegressorMixin
from numpy.linalg import norm
import numpy as np


class SGDLinearRegressor(RegressorMixin):
    def __init__(
            self,
            lr=0.1,
            regularization=0,
            delta_converged=1e-4,
            max_steps=20000,
            batch_size=64,
    ):
        self.lr = lr
        self.regularization = regularization
        self.max_steps = max_steps
        self.delta_converged = delta_converged
        self.batch_size = batch_size

        self.W = None
        self.b = None

    def fit(self, X, Y):
        self.W = np.random.rand(X.shape[1])
        self.b = 0

        for _ in range(self.max_steps):
            indexes = np.random.choice(np.arange(X.shape[0]), self.batch_size)
            X_batch = X[indexes]
            Y_batch = Y[indexes]

            y_pred = X_batch.dot(self.W) + self.b
            grad_w = 2 * (X_batch.T.dot(y_pred - Y_batch) / self.batch_size + self.regularization * self.W)
            grad_b = 2 * np.sum(y_pred - Y_batch) / self.batch_size

            old_w = self.W.copy()
            self.W -= self.lr * grad_w
            self.b -= self.lr * grad_b

            if norm(self.W - old_w) < self.delta_converged:
                break
        return self

    def predict(self, X):
        return X.dot(self.W) + self.b

In [42]:
bool_columns = df.select_dtypes(include=['bool']).columns
df[bool_columns] = df[bool_columns].astype(int)
int_columns = df.select_dtypes(include=['int']).columns
df[int_columns] = df[int_columns].astype(float)

In [43]:
Y = df["charges"].to_numpy()
X = df.drop('charges', axis=1).to_numpy()

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1327 entries, 0 to 1337
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1327 non-null   float64
 1   bmi               1327 non-null   float64
 2   charges           1327 non-null   float64
 3   sex_male          1327 non-null   float64
 4   children_1        1327 non-null   float64
 5   children_2        1327 non-null   float64
 6   children_3        1327 non-null   float64
 7   children_4        1327 non-null   float64
 8   children_5        1327 non-null   float64
 9   smoker_yes        1327 non-null   float64
 10  region_northwest  1327 non-null   float64
 11  region_southeast  1327 non-null   float64
 12  region_southwest  1327 non-null   float64
dtypes: float64(13)
memory usage: 145.1 KB

In [45]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [46]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

regressor = SGDLinearRegressor()
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
regressor.fit(X_train, Y_train)
X_test = scaler.transform(X_test)
y_pred_no_loss_numerical = regressor.predict(X_test)
print(f"MSE: {mean_squared_error(Y_test, y_pred_no_loss_numerical):.2e}")

MSE: 3.55e+07

In [47]:
regressor1 = SGDLinearRegressor(regularization=0.1)
regressor1.fit(X_train, Y_train)
y_pred_loss_numerical = regressor1.predict(X_test)
print(f"MSE: {mean_squared_error(Y_test, y_pred_loss_numerical):.2e}")

MSE: 3.60e+07

In [48]:
import numpy as np
from sklearn.base import RegressorMixin


class AnalyticalLinearRegressor(RegressorMixin):
    def __init__(self, regularization=0):
        self.regularization = regularization
        self.W = None
        self.b = None

    def fit(self, X, Y):
        X_augmented = np.column_stack([np.ones(X.shape[0]), X])
        reg_matrix = self.regularization * np.eye(X_augmented.shape[1])
        reg_matrix[0, 0] = 0

        theta = np.linalg.pinv(X_augmented.T @ X_augmented + reg_matrix) @ X_augmented.T @ Y
        self.b = theta[0]
        self.W = theta[1:]
        return self


    def predict(self, X):
        return X.dot(self.W) + self.b

In [49]:
regressor2 = AnalyticalLinearRegressor()
regressor2.fit(X_train, Y_train)
y_pred_no_loss_analytic = regressor2.predict(X_test)
print(f"MSE: {mean_squared_error(Y_test, y_pred_no_loss_analytic):.2e}")

MSE: 3.54e+07

In [50]:
np.abs(regressor2.W)

array([3734.13407128, 1716.44236086,  208.3863239 ,  152.24066028,
        602.75590829,  361.60971959,  566.12492714,  121.86042412,
       9185.41076631,  411.19123184,  508.37644343,  574.31253501])

In [51]:
regressor3 = AnalyticalLinearRegressor(regularization=100)
regressor3.fit(X_train, Y_train)
y_pred_loss_analytic = regressor3.predict(X_test)
print(f"MSE: {mean_squared_error(Y_test, y_pred_loss_analytic):.2e}")

MSE: 3.65e+07

In [52]:
np.abs(regressor3.W)

array([3388.26620438, 1513.39718363,  115.17218315,   75.36966313,
        495.97919166,  368.54642572,  486.71055408,   52.08253718,
       8258.63377181,  331.81084035,  306.29548362,  433.46132063])

In [53]:
import numpy as np
from sklearn.base import RegressorMixin


class DummyRegressor(RegressorMixin):
    def __init__(self):
        self.mean = None

    def fit(self, X, Y):
        self.mean = Y.mean()
        return self


    def predict(self, X):
        return np.ones(X.shape[0]) * self.mean

In [54]:
regressor4 = DummyRegressor()
regressor4.fit(X_train, Y_train)
y_pred_dummy = regressor4.predict(X_test)
print(f"MSE: {mean_squared_error(Y_test, y_pred_dummy):.2e}")

MSE: 1.42e+08