# Лабораторная работа №4
## Классификаторы

### Данные

In [2309]:
import pandas as pd
import numpy as np

data = pd.read_csv("~/oiad-3-2025/datasets/famcs_students.csv")

data.head()

,cource,group,stream,sex,age,ss,interest,os,weekend_study,bad_sleep,...,social,sport,miss,study_form,foot_size,eye_color,score,retake,hostel,literature
0,4,11,Прикладная информатика,М,20.0,Нет,Математика,MacOS,Да,Да,...,Экстраверт,"Редко, легкая физкультура",3.0,Бюджет,48.0,Карие,9.2,0,"Нет, я из Минска",Да
1,4,11,Прикладная информатика,Ж,20.0,Нет,Программирование,MacOS,Нет,Нет,...,Экстраверт,"Да, я спортсмен",5.0,Бюджет,39.0,Зеленые,8.8,0,"Нет, я из Минска",Да
2,4,11,Прикладная информатика,Ж,19.0,Нет,Программирование,MacOS,Да,Нет,...,Экстраверт,Вообще нет,10.0,Бюджет,41.0,Карие,8.8,0,"Нет, я из Минска",Да
3,4,11,Прикладная информатика,Ж,20.0,Нет,Математика,MacOS,Да,Да,...,Экстраверт,"Да, я спортсмен",3.0,Бюджет,36.0,Карие,8.8,0,"Нет, я из Минска",Да
4,4,11,Прикладная информатика,М,20.0,Нет,Математика,Windows,Да,Нет,...,Интроверт,Вообще нет,1.0,Бюджет,46.0,Зеленые,9.0,0,"Нет, я из Минска",Да

In [2310]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cource           127 non-null    int64
 1   group            127 non-null    int64
 2   stream           127 non-null    object
 3   sex              127 non-null    object
 4   age              127 non-null    float64
 5   ss               127 non-null    object
 6   interest         127 non-null    object
 7   os               127 non-null    object
 8   weekend_study    127 non-null    object
 9   bad_sleep        127 non-null    object
 10  glasses          127 non-null    object
 11  work_experience  127 non-null    object
 12  ai               127 non-null    object
 13  height           127 non-null    float64
 14  anime            127 non-null    object
 15  social           127 non-null    object
 16  sport            127 non-null    object
 17  miss             127 non-null    float64
 18  study_form       127 non-null    object
 19  foot_size        127 non-null    float64
 20  eye_color        127 non-null    object
 21  score            127 non-null    float64
 22  retake           127 non-null    object
 23  hostel           127 non-null    object
 24  literature       127 non-null    object
dtypes: float64(5), int64(2), object(18)
memory usage: 24.9+ KB

In [2311]:
for col in data.columns:
    print(col, f"({"not null" if data[col].isna().sum() == 0 else "nullable"})", ":", data[col].unique())

cource (not null) : [4 3]
group (not null) : [11  8 13  2  3  4 12  1]
stream (not null) : ['Прикладная информатика' 'Прикладная математика' 'Информатика']
sex (not null) : ['М' 'Ж']
age (not null) : [20. 19. 21. 16. 22. 30.]
ss (not null) : ['Нет' 'Да']
interest (not null) : ['Математика' 'Программирование']
os (not null) : ['MacOS' 'Windows' 'Linux']
weekend_study (not null) : ['Да' 'Нет']
bad_sleep (not null) : ['Да' 'Нет']
glasses (not null) : ['Нет' 'Да']
work_experience (not null) : ['Меньше года' '1-2 года' 'Не работаю' 'более 2 лет']
ai (not null) : ['Cursor' 'Mistral' 'ChatGPT' 'Qwen' 'DeepSeek' 'claude' 'Gemini'
 'Copilot' 'дядя Степа aka Каланча' 'Gemini от Google' 'Grok' 'Claude'
 'gpt oss 120b']
height (not null) : [192.         169.         190.         158.         187.
 185.         179.         186.         175.         189.
 168.         174.         178.         165.         163.
 182.         173.         210.         170.         176.
 193.         188.         164.         160.         220.
 195.         194.         167.         180.         191.
 156.         159.5        166.         177.         183.
 172.         196.         100.00000001 153.         197.        ]
anime (not null) : ['Нет' 'Да']
social (not null) : ['Экстраверт' 'Интроверт' 'Социофоб']
sport (not null) : ['Редко, легкая физкультура' 'Да, я спортсмен' 'Вообще нет']
miss (not null) : [ 3.   5.  10.   1.   7.  12.  11.   4.   0.   6.   2.  40.  30.  25.
 20.  15.  34.   8.   0.5 39.5 13.  16. ]
study_form (not null) : ['Бюджет' 'Платная']
foot_size (not null) : [48.      39.      41.      36.      46.      44.      43.      42.
 45.      38.      37.      40.      44.5     50.      47.      34.5
 34.12512 35.     ]
eye_color (not null) : ['Карие' 'Зеленые' 'Голубые' 'Серые']
score (not null) : [ 9.2   8.8   9.    7.5   7.2   9.4   8.    7.9   9.3   7.    7.6   7.8
  8.2  10.    8.4   7.4   5.9   6.    0.    6.8   6.7   8.5   6.9   6.6
  8.6   6.1   5.    7.85  7.43  6.29  4.5   6.5   9.8   8.7   9.42  9.14
  8.3   9.1   7.42  8.9   9.6   5.4 ]
retake (not null) : ['0' '1' '2+']
hostel (not null) : ['Нет, я из Минска' 'Нет, я из регионов' 'Да']
literature (not null) : ['Да' 'Нет']

In [2312]:
TARGET = data.columns[6]
TARGET

'interest'

In [2313]:
y = data[TARGET]
data.drop(TARGET, axis=1, inplace=True)

In [2314]:
binary_cols = ["sex", "ss", "anime", "study_form", "literature"]

categorical_cols = [
    "cource", "group", "stream", "os", "weekend_study", "bad_sleep",
    "glasses", "work_experience", "ai", "social", "sport",
    "eye_color", "retake", "hostel"
]

numeric_cols = list(set(data.columns) - set(categorical_cols + binary_cols))

print(binary_cols)
print(categorical_cols)
print(numeric_cols)

['sex', 'ss', 'anime', 'study_form', 'literature']
['cource', 'group', 'stream', 'os', 'weekend_study', 'bad_sleep', 'glasses', 'work_experience', 'ai', 'social', 'sport', 'eye_color', 'retake', 'hostel']
['foot_size', 'score', 'age', 'height', 'miss']

In [2315]:
factorised_data = data;
for col in categorical_cols + binary_cols:
    factorised_data[col] = pd.factorize(factorised_data[col])[0]

factorised_data

,cource,group,stream,sex,age,ss,os,weekend_study,bad_sleep,glasses,...,social,sport,miss,study_form,foot_size,eye_color,score,retake,hostel,literature
0,0,0,0,0,20.0,0,0,0,0,0,...,0,0,3.0,0,48.0,0,9.20,0,0,0
1,0,0,0,1,20.0,0,0,1,1,0,...,0,1,5.0,0,39.0,1,8.80,0,0,0
2,0,0,0,1,19.0,0,0,0,1,0,...,0,2,10.0,0,41.0,0,8.80,0,0,0
3,0,0,0,1,20.0,0,0,0,0,0,...,0,1,3.0,0,36.0,0,8.80,0,0,0
4,0,0,0,0,20.0,0,1,0,1,0,...,1,2,1.0,0,46.0,1,9.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,0,7,2,0,20.0,0,1,1,1,1,...,0,2,1.0,0,45.0,0,6.29,0,0,0
123,0,7,2,1,22.0,0,1,0,0,1,...,1,0,0.0,0,39.0,0,6.00,0,1,1
124,0,7,2,0,21.0,0,1,1,1,1,...,0,1,10.0,0,44.0,0,7.00,0,0,1
125,0,7,2,0,20.0,0,1,0,0,0,...,1,1,1.0,0,45.0,0,7.00,0,1,1
126,0,7,2,0,20.0,0,1,1,0,0,...,0,0,10.0,1,43.0,1,6.00,1,1,1

In [2316]:
numeric_cols_idx = [factorised_data.columns.get_loc(col) for col in numeric_cols]
numeric_cols_idx

[18, 20, 4, 12, 16]

In [2317]:
for col in binary_cols:
    vals = data[col].unique()
    data[f"{col}_{vals[0]}"] = data[col].replace({vals[0]: True, vals[1]: False})
    data.drop(col, axis=1, inplace=True)

data = pd.get_dummies(data, columns=categorical_cols)
data

/tmp/ipykernel_476249/1363130135.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[f"{col}_{vals[0]}"] = data[col].replace({vals[0]: True, vals[1]: False})
/tmp/ipykernel_476249/1363130135.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[f"{col}_{vals[0]}"] = data[col].replace({vals[0]: True, vals[1]: False})
/tmp/ipykernel_476249/1363130135.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[f"{col}_{vals[0]}"] = data[col].replace({vals[0]: True, vals[1]: False})
/tmp/ipykernel_476249/1363130135.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[f"{col}_{vals[0]}"] = data[col].replace({vals[0]: True, vals[1]: False})
/tmp/ipykernel_476249/1363130135.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[f"{col}_{vals[0]}"] = data[col].replace({vals[0]: True, vals[1]: False})

,age,height,miss,foot_size,score,sex_0,ss_0,anime_0,study_form_0,literature_0,...,eye_color_0,eye_color_1,eye_color_2,eye_color_3,retake_0,retake_1,retake_2,hostel_0,hostel_1,hostel_2
0,20.0,192.0,3.0,48.0,9.20,True,True,True,True,True,...,True,False,False,False,True,False,False,True,False,False
1,20.0,169.0,5.0,39.0,8.80,False,True,True,True,True,...,False,True,False,False,True,False,False,True,False,False
2,19.0,190.0,10.0,41.0,8.80,False,True,True,True,True,...,True,False,False,False,True,False,False,True,False,False
3,20.0,158.0,3.0,36.0,8.80,False,True,True,True,True,...,True,False,False,False,True,False,False,True,False,False
4,20.0,187.0,1.0,46.0,9.00,True,True,True,True,True,...,False,True,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,20.0,185.0,1.0,45.0,6.29,True,True,False,True,True,...,True,False,False,False,True,False,False,True,False,False
123,22.0,169.0,0.0,39.0,6.00,False,True,True,True,False,...,True,False,False,False,True,False,False,False,True,False
124,21.0,183.0,10.0,44.0,7.00,True,True,True,True,False,...,True,False,False,False,True,False,False,True,False,False
125,20.0,187.0,1.0,45.0,7.00,True,True,False,True,False,...,True,False,False,False,True,False,False,False,True,False
126,20.0,186.0,10.0,43.0,6.00,True,True,False,False,False,...,False,True,False,False,False,True,False,False,True,False

In [2318]:
X = data.astype(float).to_numpy()
y = (y == 'Математика').to_numpy(dtype=np.int64)

fX = factorised_data.astype(float).to_numpy()
fy = y

X

array([[ 20., 192.,   3., ...,   1.,   0.,   0.],
       [ 20., 169.,   5., ...,   1.,   0.,   0.],
       [ 19., 190.,  10., ...,   1.,   0.,   0.],
       ...,
       [ 21., 183.,  10., ...,   1.,   0.,   0.],
       [ 20., 187.,   1., ...,   0.,   1.,   0.],
       [ 20., 186.,  10., ...,   0.,   1.,   0.]], shape=(127, 65))

In [2319]:
y

array([1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0])

In [2320]:
fX

array([[0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.],
       ...,
       [0., 7., 2., ..., 1., 1., 0.],
       [0., 7., 2., ..., 0., 1., 0.],
       [0., 7., 2., ..., 0., 0., 0.]], shape=(127, 24))

In [2321]:
from sklearn.model_selection import train_test_split

random_state=42

X_temp, X_test, y_temp, y_test = train_test_split(
    X, y,
    test_size=0.15,  # 15%
    random_state=random_state,
    stratify=y
)

val_relative_size = 0.15 / (0.85)

X_train, X_val, y_train, y_val = train_test_split(
    X_temp, y_temp,
    test_size=val_relative_size,  # 0.1765
    random_state=random_state,
    stratify=y_temp  # Сохраняем распределение в оставшихся данных
)

print(X_train.shape, X_val.shape, X_test.shape)
print(y_train.shape, y_val.shape, y_test.shape)

(88, 65) (19, 65) (20, 65)
(88,) (19,) (20,)

In [2322]:
fX_train, fX_test, fy_train, fy_test = train_test_split(
    fX, fy,
    test_size=0.15,  # 15%
    random_state=random_state,
    stratify=y
)

print(fX_train.shape, fX_test.shape)
print(fy_train.shape, fy_test.shape)

(107, 24) (20, 24)
(107,) (20,)

### Тривиальный классификатор

In [2323]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score, confusion_matrix

def eval_model(model, X_test, y_test, write=True):
    y_pred = model.predict(X_test)
    metrics = {
        'acc': accuracy_score(y_test, y_pred),
        'prec': precision_score(y_test, y_pred, zero_division=0),
        'rec': recall_score(y_test, y_pred, zero_division=0)
    }

    metrics['f1'] = 2 * metrics['prec'] * metrics['rec'] / (metrics['prec'] + metrics['rec']) if metrics['prec'] + metrics['rec'] > 0 else 0
    
    if hasattr(model, "predict_proba"):
        y_proba = model.predict_proba(X_test)
    else:
        y_proba = y_pred

    metrics['auc'] = roc_auc_score(y_test, y_proba)

    if (write): 
        for metric, val in metrics.items():
            print(f'{metric}:{val}')
    
    return metrics

In [2324]:
from sklearn.base import RegressorMixin
class BaseLineRegressor(RegressorMixin):
    def fit(self, X, y):
        values, counts = np.unique(y, return_counts=True)
        self.most_common  = values[counts.argmax()]
        return self

    def predict(self, X):
        return np.full(X.shape[0], self.most_common)

In [2325]:
eval_model(BaseLineRegressor().fit(X_train, y_train), X_test, y_test)

acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5

{'acc': 0.8, 'prec': 0.0, 'rec': 0.0, 'f1': 0, 'auc': 0.5}

### Байесовский классификатор

In [2326]:
class GaussianNaiveBayes(RegressorMixin):
    def __init__(self, var_smoothing=1e-9):
        self.var_smoothing = var_smoothing
        
    def fit(self, X, y, numeric_cols):
        self.numeric_cols=numeric_cols
        self.classes_ = np.unique(y)
        self.priors_ = []
        self.means_ = []
        self.vars_ = []
        self.p = []

        X_num = X[:, self.numeric_cols]
        
        for cls in self.classes_:
            X_cls = X_num[y == cls]
            self.priors_.append(len(X_cls) / len(X))
            self.means_.append(X_cls.mean(axis=0))
            self.vars_.append(X_cls.var(axis=0) + self.var_smoothing)
        
        self.priors_ = np.array(self.priors_)
        self.means_ = np.array(self.means_)
        self.vars_ = np.array(self.vars_)

        for i in range(X.shape[1]):
            if i in self.numeric_cols:
                self.p.append({})
                continue

            d = dict()

            for val in np.unique(X[:, i]):
                mask = (X[:, i] == val)
                y1 = y[mask]
                X1 = X[mask]
                from collections import Counter
                cnts = dict(Counter(y1))
                for j in self.classes_:
                    if j not in cnts.keys():
                        cnts[j] = 0
                d[val] = [cnt / len(X1) for _, cnt in sorted(cnts.items())]
        
            self.p.append(d)
            
        return self
    
    def _log_likelihood(self, X):
        n_samples = X.shape[0]
        n_classes = len(self.classes_)
        log_likelihood = np.zeros((n_samples, n_classes))
        
        for i in range(n_classes):
            diff = X - self.means_[i]
            log_likelihood[:, i] = -0.5 * np.sum(
                np.log(2 * np.pi * self.vars_[i]) + (diff ** 2) / self.vars_[i],
                axis=1
            )
        
        return log_likelihood
    
    def predict_proba(self, X):
        X_num = X[:, self.numeric_cols]
        log_likelihood = self._log_likelihood(X_num)
        log_posterior = log_likelihood + np.log(self.priors_)
        max_log = np.max(log_posterior, axis=1, keepdims=True)
        exp_log = np.exp(log_posterior - max_log)
        probas =  exp_log / np.sum(exp_log, axis=1, keepdims=True)

        for i in range(X.shape[1]):
            if i in self.numeric_cols:
                continue

            p = np.array(list(self.p[i].get(x, np.zeros(len(self.classes_))) for x in X[:, i]))

            probas *= p
        
        return probas[:, 1].reshape(-1)
    
    def predict(self, X):
        proba = self.predict_proba(X)
        return np.round(proba)

In [2327]:
import numpy as np

class GaussianNaiveBayes:
    def __init__(self, var_smoothing=1e-9):
        self.var_smoothing = var_smoothing
        
    def fit(self, X, y):
        self.classes_ = np.unique(y)
        self.priors_ = []
        self.means_ = []
        self.vars_ = []
        
        for cls in self.classes_:
            X_cls = X[y == cls]
            self.priors_.append(len(X_cls) / len(X))
            self.means_.append(X_cls.mean(axis=0))
            self.vars_.append(X_cls.var(axis=0) + self.var_smoothing)
        
        self.priors_ = np.array(self.priors_)
        self.means_ = np.array(self.means_)
        self.vars_ = np.array(self.vars_)
        return self
    
    def _log_likelihood(self, X):
        n_samples = X.shape[0]
        n_classes = len(self.classes_)
        log_likelihood = np.zeros((n_samples, n_classes))
        
        for i in range(n_classes):
            diff = X - self.means_[i]
            log_likelihood[:, i] = -0.5 * np.sum(
                np.log(2 * np.pi * self.vars_[i]) + (diff ** 2) / self.vars_[i],
                axis=1
            )
        return log_likelihood
    
    def predict_proba(self, X):
        log_likelihood = self._log_likelihood(X)
        log_posterior = log_likelihood + np.log(self.priors_)
        max_log = np.max(log_posterior, axis=1, keepdims=True)
        exp_log = np.exp(log_posterior - max_log)
        probas = exp_log / np.sum(exp_log, axis=1, keepdims=True)
        return probas[:, 1].reshape(-1)
    
    def predict(self, X):
        proba = self.predict_proba(X)
        return np.round(proba)

In [2328]:
model = GaussianNaiveBayes().fit(X_train, y_train)

model.predict(X_test)

array([1., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
       1., 1., 1.])

In [2329]:
eval_model(GaussianNaiveBayes().fit(X_train, y_train), X_test, y_test)

acc:0.3
prec:0.1875
rec:0.75
f1:0.3
auc:0.4921875

{'acc': 0.3, 'prec': 0.1875, 'rec': 0.75, 'f1': 0.3, 'auc': 0.4921875}

### Метод k-ближайших соседей

In [2330]:
import numpy as np
from collections import Counter
from scipy.spatial import distance
from sklearn.preprocessing import StandardScaler

class KNN:
    def __init__(self, k=3, metric='euclidean'):
        self.k = k
        self.metric = metric
        
    def fit(self, X, y):
        self.scaler = StandardScaler()
        self.scaler.fit(X, y)
        X = self.scaler.transform(X)
        self.X_train = np.array(X)
        self.y_train = np.array(y)
        return self
    
    def _distance(self, a, b):
        if self.metric == 'euclidean':
            return np.sqrt(np.sum((a - b) ** 2))
        elif self.metric == 'manhattan':
            return np.sum(np.abs(a - b))
        else:
            return distance.cdist([a], [b], self.metric)[0][0]
    
    def predict(self, X):
        X = np.array(X)
        X = self.scaler.transform(X)
        predictions = []
        
        for x in X:
            distances = [self._distance(x, x_train) for x_train in self.X_train]
            k_indices = np.argsort(distances)[:self.k]
            k_labels = self.y_train[k_indices]
            most_common = Counter(k_labels).most_common(1)[0][0]
            predictions.append(most_common)
        
        return np.array(predictions)
    
    def predict_proba(self, X):
        X = np.array(X)
        X = self.scaler.transform(X)
        probas = []
        
        for x in X:
            distances = [self._distance(x, x_train) for x_train in self.X_train]
            k_indices = np.argsort(distances)[:self.k]
            k_labels = self.y_train[k_indices]
            
            unique_classes = np.unique(self.y_train)
            proba = [np.sum(k_labels == c) / self.k for c in unique_classes]
            probas.append(proba)
        
        return np.array(probas)[:, 1].reshape(-1)

In [2331]:
KNN().fit(X_train, y_train).predict_proba(X_test).shape

(20,)

In [2332]:
methods = ["euclidean", "manhattan"]

for k in range(2, 20, 3):
    for method in methods:
        print(k, method)
        eval_model(KNN().fit(X_train, y_train), X_test, y_test)

2 euclidean
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
2 manhattan
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
5 euclidean
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
5 manhattan
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
8 euclidean
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
8 manhattan
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
11 euclidean
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
11 manhattan
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
14 euclidean
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
14 manhattan
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
17 euclidean
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5
17 manhattan
acc:0.8
prec:0.0
rec:0.0
f1:0
auc:0.5

### Логистическая регрессия

In [2333]:
from scipy.special import expit
np.random.seed(42)

class LogisticRegression(RegressorMixin):

    def __init__(self, alpha=0, lr=0.5, max_iter=10000,
                 fit_intercept=True):
        self.alpha = alpha
        self.lr = lr
        self.max_iter = int(max_iter)
        self.fit_intercept = fit_intercept
        self.batch_size = 512

    @staticmethod
    def _sigmoid(x):
        return expit(x)

    def _add_intercept(self, X):

        X_copy = np.full((X.shape[0], X.shape[1] + 1), fill_value=1.)
        X_copy[:, :-1] = X

        return X_copy

    def fit(self, X, Y):
        self.scaler = StandardScaler()
        self.scaler.fit(X, Y)
        X = self.scaler.transform(X)
        assert X.shape[0] == Y.shape[0]

        if self.fit_intercept:
            X_copy = self._add_intercept(X)
        else:
            X_copy = X.copy()

        W = np.zeros((X_copy.shape[1], 1))

        for _ in range(0, self.max_iter):
            batch = np.random.choice(X_copy.shape[0], size = min(self.batch_size, X_copy.shape[0]), replace=False)
            x = X_copy[batch]
            y = Y[batch].reshape((len(batch), 1))

            grad = (x.T @ (self._sigmoid(x @ W) - y))
            reg = self.alpha * W
            if self.fit_intercept:
                reg[-1] = 0
            grad += reg

            W -= self.lr * grad

        if self.fit_intercept:
            self.coef_ = W[:-1]
            self.intercept_ = W[-1][0]
        else:
            self.coef_ = W[:]
            self.intercept_ = 0

        self.weights = W
        return self

    def predict(self, X):
        X = self.scaler.transform(X)
        if self.fit_intercept:
            X_copy = self._add_intercept(X)
        else:
            X_copy = X.copy()

        assert X_copy.shape[1] == self.weights.shape[0]

        predictions = np.round(self._sigmoid(X_copy @ self.weights)).reshape(X.shape[0])

        return predictions

    def predict_proba(self, X):
        X = self.scaler.transform(X)
        if self.fit_intercept:
            X_copy = self._add_intercept(X)
        else:
            X_copy = X.copy()

        assert X_copy.shape[1] == self.weights.shape[0]

        prob_predictions = self._sigmoid(X_copy @ self.weights).reshape(X.shape[0])

        return prob_predictions

In [2334]:
f1s = []
for alpha in [0, 0.1, 0.3, 0.5, 0.7, 1]:
    for lr in [1, 0.5, 0.01, 0.001, 0.0001, 0.00001]:
        model = LogisticRegression(alpha=alpha, lr=lr).fit(X_train, y_train)
        res = eval_model(model, X_val, y_val, write=False)
        f1s.append([res["f1"], alpha, lr])

f1s = np.array(f1s)
i = np.argmax(f1s[:, 0])

best_f1 = f1s[i, 0]
best_alpha = f1s[i, 1]
best_lr = f1s[i, 2]
print(best_f1, best_alpha, best_lr)

0.5714285714285715 0.7 0.5

In [2335]:
np.unique(y_test)

array([0, 1])

In [2336]:
model = LogisticRegression(alpha=best_alpha, lr=best_lr).fit(X_train, y_train)

eval_model(model, X_test, y_test, write=False)

{'acc': 0.6, 'prec': 0.0, 'rec': 0.0, 'f1': 0, 'auc': 0.453125}